audioread==2.1.5
benderthon==0.2.1
bleach==1.5.0
cycler==0.10.0
Cython==0.26
decorator==4.1.2
h5py==2.7.0
html5lib==0.9999999
joblib==0.11
Keras==2.0.8
librosa==0.5.1
Markdown==2.6.9
matplotlib==2.0.2
numpy==1.13.1
protobuf==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
resampy==0.1.5
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
tensorflow==2.9.3
tensorflow-tensorboard==0.1.5
Theano==0.9.0
Werkzeug==0.15.3
